flows.json
[{"id":"b64c7037.77326","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e4b769b4.ac4828","type":"watson-conversation-v1","z":"b64c7037.77326","name":"","workspaceid":"d2468885-6c2e-479d-b8fb-cb581b575dd4","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/25017c5b-54fb-4748-a365-120d441a810e","timeout":"","optout-learning":false,"x":420,"y":60,"wires":[["70bbf6f8.352498"]]},{"id":"9872aaf8.148cc8","type":"inject","z":"b64c7037.77326","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"good morning","payloadType":"str","x":190,"y":60,"wires":[["e4b769b4.ac4828"]]},{"id":"931ba9e0.298e08","type":"debug","z":"b64c7037.77326","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"70bbf6f8.352498","type":"function","z":"b64c7037.77326","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["3035358d.f5ceaa","931ba9e0.298e08"]]},{"id":"311b8da6.462af2","type":"ui_form","z":"b64c7037.77326","name":"","label":"","group":"39ecc414.7f627c","order":1,"width":0,"height":0,"options":[{"label":"Enter user input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":120,"wires":[["cc85a9b.c339c58"]]},{"id":"cc85a9b.c339c58","type":"function","z":"b64c7037.77326","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":180,"wires":[["e4b769b4.ac4828","fa6e158f.814a98"]]},{"id":"fa6e158f.814a98","type":"ui_text","z":"b64c7037.77326","group":"39ecc414.7f627c","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":450,"y":280,"wires":[]},{"id":"3035358d.f5ceaa","type":"ui_text","z":"b64c7037.77326","group":"39ecc414.7f627c","order":3,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":700,"y":280,"wires":[]},{"id":"39ecc414.7f627c","type":"ui_group","z":"","name":"Movie Ticketing Chat Bot ","tab":"713cd12.5f6a03","order":1,"disp":true,"width":7,"collapse":false},{"id":"713cd12.5f6a03","type":"ui_tab","z":"","name":"Booking","icon":"dashboard","disabled":false,"hidden":false}]